.bedCapacity {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}
.Box {
  width: 100%;
  padding: 20px;
  background-color: #23c4ed;
  color: #fff;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px 1px 1px 1px #333;
}
.Box > h2 {
  font-size: 1.5rem;
}
