.header {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding: 10px 0 10px 0;
    width: 100%;
    z-index: 999;
}

.header__left{
    display: flex;
}

/* selects the direct child */
.header__left > img {
  object-fit: contain;
  height: 50px;
  margin-right: 10px;
}

.header__search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
}

.header__search > input {
    outline: none;
    border: none;
    background: none;
}
.header__right{
    flex: .4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right > a{
    text-decoration: none;
    color: #383CC1;
    padding: 10px;
}
.header__right > a:hover{
    background-color: lightgray;
}

