.header {
  background-color: rgba(30, 30, 33, 0.5);
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0 10px 0;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
}

.header__left {
  display: flex;
  align-items: center;
}

/* selects the direct child */
.header__left > img {
  object-fit: contain;
  height: 50px;
  margin-right: 10px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 45px;
  color: gray;
  background-color: #eef3f8;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;
}
.header__right {
  flex: 0.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right > a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
